body, html
{
            padding:0;
            margin: 0;
            width: 100%;
            height: 100%;
}
.row
{
    margin-left: -375px;
    margin-right: -15px;
}
.row2
{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 100px;
}
.container
{
    margin-right: 400px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: -5px;
}
.container2
{
    margin-left: 850px;
    margin-top: 10px;
    top: -700px;
    width: 1000px;
    position: relative;
}
.btn-additional
{
  color: #FF00FF;
}
body
{
  padding-top: 50px;
}
.navbar-brand
{
  height: 100%;

}
.custom-search-form
{
    margin-top:5px;
}
.teg
{
	margin-left:-350px;
  padding-top: -550px;
}
.form-control
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.div2
{
  width: 150x; /* Ширина слоя */
      margin: 7px; /* Значение отступов */
      padding: 10px; /* Поля вокруг текста */
    /*   border: 4px solid black; /* Параметры границы */
  /*     background: #fc0; /* Цвет фона */
}
